<nav ng-init="params=ngTableParamsObject" ng-show="params.total()"> 
    <p>{{paginationTitle}}</p>
    <ul>
        <li class="previous" ng-class="{'disabled': ngTableParamsObject.page() === 1}">
            <a href="" ng-click="previous(ngTableParamsObject.page() === 1)">
                <span>« PREV</span>
            </a>
        </li>
        <li ng-class="{'selected': ngTableParamsObject.page() == page.number}" ng-repeat="page in pages">
            <a href="" ng-click="selectPage(page)">
                <span ng-bind="page.number"></span>
            </a>
        </li>
        <li class="next" ng-class="{'disabled': ngTableParamsObject.page() === numPages}">
            <a href="" ng-click="next(ngTableParamsObject.page() === numPages)">
                <span>NEXT »</span>
            </a>
        </li>
    </ul>
</nav>