.smart-table * {
  box-sizing: border-box;
}

.smart-table table {
  color: #333;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 100%;
}

.smart-table table th {
  text-align: left;
  font-weight: bold;
  line-height: 1.42857143;
  color: #567084;
  background-color: lightblue;
  border: 1px solid #C6C6C6;
  border-top: 0px;
  padding: 9px 8px;
}

.smart-table table th.sortable {
  cursor: pointer;
}

.smart-table table th.sortable div {
  position: relative;
}

.smart-table table th.sortable div:before, .smart-table table th.sortable div:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  opacity: 0.3;
  visibility: visible;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.smart-table table th.sortable div:before {
  margin-top: 2px;
  border-bottom: none;
  border-top: 4px solid #000;
}

.smart-table table th.sortable div:after {
  margin-top: -4px;
  border-top: none;
  border-bottom: 4px solid #000;
}

.smart-table table th.sortable div:hover:before, .smart-table table th.sortable div:hover:after {
  opacity: 1;
}

.smart-table table th.sortable.sort-asc div:before, .smart-table table th.sortable.sort-desc div:after {
  visibility: hidden;
  margin-top: auto;
}

.smart-table table th.row-select {
  width: 50px;
  text-align: center;
}

.smart-table table tbody tr {
  background-color: #FFF;
}

.smart-table table tbody tr:nth-child(2n) {
  background-color: #F7F7F7;
}

.smart-table table tbody tr.no-records, .smart-table table tbody tr.loading-message {
  background-color: #FFF;
}

.smart-table table tbody td {
  padding: 8px;
  line-height: 1.42857143;
  border: 1px solid #C6C6C6;
}

.smart-table table tbody td.row-select {
  text-align: center;
}

.smart-table nav {
  background-color: #F5F5F5;
  padding: 0.5em;
  border: 1px solid #C6C6C6;
  min-height: 44px;
}

.smart-table nav p {
  font-weight: bold;
  color: #666;
  line-height: 2em;
  float: left;
  margin: 0;
}

.smart-table nav ul {
  float: right;
  list-style: none;
  margin: 0;
}

.smart-table nav li {
  background-color: #E9E9E9;
  border: 1px solid #C9C9C9;
  margin-right: 0.5em;
  border-radius: 2px;
  float: left;
}

.smart-table nav li:hover:not(.disabled), .smart-table nav li.selected:not(.disabled) {
  background-color: #C2DDF2;
  border-color: #A6C2D8;
  color: #214A66;
}

.smart-table nav li a {
  float: left;
  text-decoration: none;
  padding: 6px 12px;
  line-height: 1;
  color: #7B7B7B;
  font-size: 11px;
  min-width: 17px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.smart-table nav li.previous a, .smart-table nav li.next a {
  padding-left: 6px;
  padding-right: 6px;
}

.smart-table nav li.disabled a {
  cursor: not-allowed;
}

.smart-table .top-pagination nav {
  border-bottom: none;
}

.smart-table .bottom-pagination nav {
  border-top: none;
}
