<div class="smart-table">
    <div ng-if="ngTableParamsObject.$params.paginate"
        ng-include="'smart-table/smart-table-pagination.html'"
    >
    </div>
    <table ng-table="ngTableParamsObject">
        <thead>
            <tr>
                <th ng-repeat="col in params.$params.columns"
                    ng-click="col.sortable && params.serverSortBy(col.field)"
                    ng-class="{
                        'sortable':col.sortable,
                        'sort-asc':sortParams.sortColumn===col.field && sortParams.sortOrder==='asc',
                        'sort-desc':sortParams.sortColumn===col.field && sortParams.sortOrder==='desc'
                    }"
                >
                    <div ng-bind="col.title"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in $data">
                <td ng-repeat="col in params.$params.columns"
                    ng-bind="datum[col.field]"
                >
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="ngTableParamsObject.$params.paginate"
        ng-include="'smart-table/smart-table-pagination.html'"
    >
    </div>
</div>