<div class="smart-table" ng-init="model=smartTableModel">
    <div class="top-pagination" ng-if="ngTableParamsObject.$params.paginate"
        ng-include="'smart-table/smart-table-pagination.html'"
    >
    </div>
    <table ng-table="ngTableParamsObject">
        <thead>
            <tr>
                <th class="row-select" ng-show="params.$params.rowSelectable">
                    <input type="checkbox" ng-checked="model.allRowsSelected" ng-click="model.onSelectAllClick($event)" />
                </th>
                <th ng-repeat="col in params.$params.columns"
                    ng-click="col.sortable && params.serverSortBy(col.field)"
                    ng-class="{
                        'sortable':col.sortable,
                        'sort-asc':model.sortParams.sortColumn===col.field && model.sortParams.sortOrder==='asc',
                        'sort-desc':model.sortParams.sortColumn===col.field && model.sortParams.sortOrder==='desc'
                    }"
                >
                    <div ng-bind="col.title"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in $data" ng-show="!model.loading && $data.length">
                <td class="row-select" ng-show="params.$params.rowSelectable">
                    <input type="checkbox" ng-model="datum._isSelected" ng-click="model.updateSelectedRows()" />
                </td>
                <td ng-repeat="col in params.$params.columns"
                    ng-bind="datum[col.field]"
                >
                </td>
            </tr>
            <tr class="no-records" ng-show="!model.loading && !$data.length">
                <td colspan="{{params.$params.columns.length}}"
                    ng-bind="model.noRecordsMessage"
                >
                </td>
            </tr>
            <tr class="loading-message" ng-show="model.loading">
                <td colspan="{{params.$params.columns.length}}"
                    ng-bind="model.loadingMessage"
                >
                </td>
            </tr>
        </tbody>
    </table>
    <div class="bottom-pagination" ng-if="ngTableParamsObject.$params.paginate"
        ng-include="'smart-table/smart-table-pagination.html'"
    >
    </div>
</div>