

body{
    font-size: 14px;
    font-family: pt_sansregular, sans-serif;
    margin: 20px;
}

.smart-table{
    margin:30px;
}

.message,.selected-rows,.data-fetch-message{
    height: 20px;
    text-align: center;
    font-weight: bold;
}